/* Dialog to exit i3 */

@import "colors.rasi"

* {
    background-color:  @bg-alt;
    text-color:        @fg;
	font:              "RobotoMono Nerd Font 10";
}

window {
    width:          216px;
    padding:        26px;
    location:       center;
    y-offset:       -2em;
}

entry {
    expand:     true;
    text-color: @fg;
}
